src/main/resources/XSD/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="emplyee" type="emplyeeType"/>
  <xs:complexType name="emplyeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="surName"/>
      <xs:element type="xs:string" name="phone"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>